@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --line-fill: #3498db;
    --line-empty: #e0e0e0;
}

body {
    background-color: #f6f7fb;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.container-progress{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 1rem;
    max-width: 100%;
    width: 20rem;
}

.container-progress::before {
    content: '';
    background-color: var(--line-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: .1rem;
    width: 0100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: .1rem;
    width: 0%;
    z-index: -1;
    transition: .4s ease;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 1.8rem;
    width: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid var(--line-empty);
    transition: .4s ease;
}

.circle.active {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 1.8rem;
    width: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid var(--line-fill);
    transition: .4s ease;
}

.btn {
    background-color: var(--line-fill);
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: .4rem 1.4rem;
    margin: 5px;
    font-size: .9rem;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: none;
}

.btn:disabled {
    background-color: var(--line-empty);
    cursor: not-allowed;
}